@font-face {
	font-family: 'monogram';
	src: url(../../assets/fonts/monogram.woff2) format('woff2'),
	url(../../assets/fonts/monogram.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}