img {
  filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.50));
}

.menu-toggle.active {
  right: 265px;
}

.menu-toggle, .scroll-to-top {
  transition-property: all!important;
  transition-duration: 250ms;
}

.scroll-to-top {
  display: block;
  right: -100px;
}

